In [ ]:
"""
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
"""

In [1]:
import pandas as pd
df = pd.Series([4,8,15,16,23,42])
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
"""
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
"""

'\nQ2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the\nvariable print it.\n'

In [3]:
series_data = [1,2,3,'ramu','shamu',4,5,6,7,8]
df1 = pd.Series(series_data)
print(df1)

0        1
1        2
2        3
3     ramu
4    shamu
5        4
6        5
7        6
8        7
9        8
dtype: object

In [ ]:
"""
Q3 Create pandas Data frame containing Table 
"""

In [7]:
df3 = pd.DataFrame({
                'Name':['Alice','Bob','Claire'],
                'Age':[25,30,27],
                'Gender':['Female','Male','Female']})

In [8]:
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
"""
Q4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""

In [9]:
"""
In Pandas DataFrame is a two dimesional labelled array Here data is organized in rows and columns
In Pandas Series is one dimesional labelled array here data is organized in single columns

"""

# Example of Dataframe
df3 = pd.DataFrame({
                'Name':['Alice','Bob','Claire'],
                'Age':[25,30,27],
                'Gender':['Female','Male','Female']})
print(df3)
print(type(df3))


df4 = pd.Series([1,2,3,4,5])
print(df4)
print(type(df4))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
<class 'pandas.core.frame.DataFrame'>
0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
"""
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
"""

In [12]:
# Some common function we can use to manipulate data in a pandas Dataframe are head,tail,info,describe,shape
#head()  To get first n value default is 5 if less than 5 then print all 
print("head")
print(df3.head())
# tail()  To get last n value  default is 5 if less than 5 then print all
print("tail")
print(df3.tail())
# info() It print the summary of data frame which include column name , number of value , datatype ,memory usage
print("Info ")
print(df3.info())
# describe () IT is very helpful function it gives value of count , mean ,standard deviation , min , percentile value
print("Describe")
print(df3.describe())

head
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
tail
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None
Describe
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [13]:
"""
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""
# Series and Dataframe is mutable Panel is immutable

'\nQ6. Which of the following is mutable in nature Series, DataFrame, Panel?\n'

In [ ]:
"""
Q7. Create a DataFrame using multiple Series. Explain with an example.
"""

# we can create data frame by passing multiple series

In [21]:
A = pd.Series([1,2,3])
B = pd.Series([1,4,9])
C = pd.Series([1,8,27])
df4 = pd.DataFrame({'number':A,'squared':B,'cubed':C})
print(df4)

# Here first I created 3 series A,B,C and then passed it as a dictionary where key is column name I want and value is each series

   number  squared  cubed
0       1        1      1
1       2        4      8
2       3        9     27